@model Web.Core.Sport.Organize.DTOs.OrganizerDTO;
@{
    ViewData["Title"] = "Create Organizer";
}

<div class="container">
    <div class="col-6">
        <form method="post">
             <div class="form-group">
                <label asp-for="OrganizerName" class="control-label"></label>
                <input asp-for="OrganizerName" class="form-control" />
                <span asp-validation-for="OrganizerName" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="ImageLocation" class="control-label"></label>
                <input asp-for="ImageLocation" class="form-control" />
                <span asp-validation-for="ImageLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label></label>
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-secondary" asp-area="" asp-controller="Organizer" asp-action="Index">Back</a>

            </div>
        </form>
    </div>

</div>